* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.wrapper-addCategory {
    background-color: #F3F4F7;
    width: 100%;
    padding: 50px 15px 0 15px;
}

.wrapper {
    background-color: #fff;
}

h1 {
    font-size: 3rem;
    padding: 5px 0 30px 0;
    font-weight: 400;
}

.wrapper h1 {
    font-size: 2.2rem;
    padding-bottom: 30px;
}

.input-field {
    padding-left: 5px;
    padding-bottom: 30px;
}

label {
    display: block;
    font-size: 1.6rem;
}

.input-field label input {
    width: 90%;
    margin-top: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

input[type="submit"]{
    padding: 5px;
    background-color: #81C0F4;
    border-radius: 3px;
    outline: none;
}

input[type="reset"]{
    padding: 5px;
    border-radius: 3px;
    outline: none;
}

input[type="submit"]:hover {
    opacity: 0.7;
}

input[type="reset"]:hover {
    opacity: 0.7;
}

