
ul {
    list-style: none;
    font-size: 2rem;
}

.content .content-left li:first-child {
    background-color: #4A484B;
    color: #fff;
    text-align: center;
}


.content .content-left ul{
    border: 1px solid #4A484B;
    background-color: #fff;
}

.content .content-left li {
    padding: 6px 0 5px 4px;
}

.content .content-left li:hover:not(li:first-child) {
    background-color: #F3F4F6;
}

.content .content-left li:hover:not(li:first-child) a{
    color: red;
    font-weight: bold;
}

.category li:not(li:first-child, li:last-child) {
    border-bottom: 1px solid #4A484B;
}